In [1]:
# Importing the necessary packages like numpy and pandas
import numpy as np # scientific computing for adding support for large, multi-dimensional arrays and matrices.
import pandas as pd # It's a data analysis programming language

In [41]:
# Data Preprocessing under techniques we are following Data Cleaning, Data Transformation and Data Reduction
# converted raw json formated in to the csv format
# loading json files data in to the dataframes by using data analysis library pandas
with open('./book_dataset/raw/metadata.json', encoding='utf-8') as metainputfile:
    df_books = pd.read_json(metainputfile, lines='True')
with open('./book_dataset/raw/ratings.json', encoding='utf-8') as ratinginputfile:
    df_ratings = pd.read_json(ratinginputfile, lines='True')
with open('./book_dataset/raw/reviews.json', encoding='utf-8') as reviewinputfile:
    df_reviews = pd.read_json(reviewinputfile, lines='True')
with open('./book_dataset/raw/survey_answers.json', encoding='utf-8') as surveyinputfile:
    df_survey = pd.read_json(surveyinputfile, lines='True')
with open('./book_dataset/raw/tag_count.json', encoding='utf-8') as tagCountinputfile:
    df_tagCount = pd.read_json(tagCountinputfile, lines='True')
with open('./book_dataset/raw/tags.json', encoding='utf-8') as tagsinputfile:
    df_tags = pd.read_json(tagsinputfile, lines='True')
# Saving the files in to the CSV(comma seperated values) format.
df_books.to_csv('./book_dataset/transformed_dataset/metadata.csv', encoding='utf-8', index=False)
df_ratings.to_csv('./book_dataset/transformed_dataset/ratings.csv', encoding='utf-8', index=False)
df_reviews.to_csv('./book_dataset/transformed_dataset/reviewss.csv', encoding='utf-8', index=False)
df_survey.to_csv('./book_dataset/transformed_dataset/survey_answers.csv', encoding='utf-8', index=False)
df_tagCount.to_csv('./book_dataset/transformed_dataset/tag_count.csv', encoding='utf-8', index=False)
df_tags.to_csv('./book_dataset/transformed_dataset/tags.csv', encoding='utf-8', index=False)

In [46]:
## defing metadata for converting the fields like book id, book title, book authors, book description to standard format.
## converting characterized data to structured format
def metadataClean(dataframe):
    dataframe["item_id"] = pd.to_numeric(dataframe["item_id"])
    dataframe["title"] = dataframe["title"].str.replace("[^a-zA-Z0-9 ]", "", regex=True)
    dataframe["title"] = dataframe["title"].str.lower()
    dataframe["title"] = dataframe["title"].str.replace("\s+", " ", regex=True)
    dataframe = dataframe[dataframe["title"].str.len() > 0]
    dataframe["authors"] = dataframe["authors"].str.replace("[^a-zA-Z0-9 ]", "", regex=True)
    dataframe["authors"] = dataframe["authors"].str.lower()
    dataframe["authors"] = dataframe["authors"].str.replace("\s+", " ", regex=True)
    dataframe = dataframe[dataframe["authors"].str.len() > 0]
    dataframe["description"] = dataframe["description"].str.replace("[^a-zA-Z0-9 ]", "", regex=True)
    dataframe["description"] = dataframe["description"].str.lower()
    dataframe["description"] = dataframe["description"].str.replace("\s+", " ", regex=True)
    dataframe = dataframe[dataframe["description"].str.len() > 0]
# converting the raw numeric unstructured data to structured numeric format
def ratingsClean(dataframe):
    dataframe["item_id"] = pd.to_numeric(dataframe["item_id"])
    dataframe["user_id"] = pd.to_numeric(dataframe["user_id"])
    dataframe["rating"] = pd.to_numeric(dataframe["rating"])
## converting characterized data to structured format
def reviewsClean(dataframe):
    dataframe["item_id"] = pd.to_numeric(dataframe["item_id"])
    dataframe["txt"] = dataframe["txt"].str.replace("[^a-zA-Z0-9 ]", "", regex=True)
    dataframe["txt"] = dataframe["txt"].str.lower()
    dataframe["txt"] = dataframe["txt"].str.replace("\s+", " ", regex=True)
    dataframe = dataframe[dataframe["txt"].str.len() > 0]
# converting the raw numeric unstructured data to structured numeric format
def surveyClean(dataframe):
    dataframe["item_id"] = pd.to_numeric(dataframe["item_id"])
    dataframe["user_id"] = pd.to_numeric(dataframe["user_id"])
    dataframe["tag_id"] = pd.to_numeric(dataframe["tag_id"])
    dataframe["score"] = pd.to_numeric(dataframe["score"])
# converting the raw numeric unstructured data to structured numeric format
def tagCountClean(dataframe):
    dataframe["item_id"] = pd.to_numeric(dataframe["item_id"])
    dataframe["tag_id"] = pd.to_numeric(dataframe["tag_id"])
    dataframe["num"] = pd.to_numeric(dataframe["num"])
## converting characterized data to structured format
def tagsClean(dataframe):
    dataframe["tag"] = dataframe["tag"].str.replace("[^a-zA-Z0-9 ]", "", regex=True)
    dataframe["tag"] = dataframe["tag"].str.lower()
    dataframe["tag"] = dataframe["tag"].str.replace("\s+", " ", regex=True)
    dataframe = dataframe[dataframe["tag"].str.len() > 0]
    dataframe["id"] = pd.to_numeric(dataframe["id"])
## reading CSV files and applaying above cleaning techniques
df_books = pd.read_csv('./book_dataset/transformed_dataset/metadata.csv')
metadataClean(df_books)
df_ratings = pd.read_csv('./book_dataset/transformed_dataset/ratings.csv')
ratingsClean(df_ratings)
df_reviews = pd.read_csv('./book_dataset/transformed_dataset/reviewss.csv')
reviewsClean(df_reviews)
df_survey = pd.read_csv('./book_dataset/transformed_dataset/survey_answers.csv')
surveyClean(df_survey)
df_tagCount = pd.read_csv('./book_dataset/transformed_dataset/tag_count.csv')
tagCountClean(df_tagCount)
df_tags = pd.read_csv('./book_dataset/transformed_dataset/tags.csv')
tagsClean(df_tags)

In [50]:
# dropping the duplicates
df_books.drop_duplicates(subset=['item_id', 'url', 'title','authors','lang','img','year','description'], keep='first', inplace=True)
df_ratings.drop_duplicates()
df_reviews.drop_duplicates()
df_survey.drop_duplicates()
df_tagCount.drop_duplicates()
df_tags.drop_duplicates()

              tag   id
0    18th century    0
1           1920s    1
2           1930s    2
3           1950s    3
4           1960s    4
..            ...  ...
722   world war i  722
723       writers  723
724       writing  724
725         youth  725
726       zombies  726

[727 rows x 2 columns]

In [57]:
# we are filling missing values for median values
df_books['year'] = df_books['year'].fillna(df_books['year'].median())

In [58]:
df_books.head()

,item_id,url,title,authors,lang,img,year,description
0,16827462,https://www.goodreads.com/book/show/11870085-t...,the fault in our stars,John Green,eng,https://images.gr-assets.com/books/1360206420m...,2012,"There is an alternate cover edition .\n""I fel..."
1,2792775,https://www.goodreads.com/book/show/2767052-th...,the hunger games the hunger games 1,Suzanne Collins,eng,https://images.gr-assets.com/books/1447303603m...,2008,Winning will make you famous.\nLosing means ce...
2,8812783,https://www.goodreads.com/book/show/7260188-mo...,mockingjay the hunger games 3,Suzanne Collins,eng,https://images.gr-assets.com/books/1358275419m...,2010,My name is Katniss Everdeen.\nWhy am I not dea...
3,41107568,https://www.goodreads.com/book/show/22557272-t...,the girl on the train,Paula Hawkins,eng,https://images.gr-assets.com/books/1490903702m...,2015,Every day the same\nRachel takes the same comm...
4,6171458,https://www.goodreads.com/book/show/6148028-ca...,catching fire the hunger games 2,Suzanne Collins,eng,https://images.gr-assets.com/books/1358273780m...,2009,Sparks are igniting.\nFlames are spreading.\nA...

In [60]:
# # we are filling missing values for median values
df_ratings['rating'] = df_ratings['rating'].fillna(df_ratings['rating'].median())
df_ratings.head()

    item_id  user_id  rating
0  41335427        0       5
1  41335427        1       3
2  41335427        2       5
3  41335427        3       5
4  41335427        4       5

In [61]:
# # we are filling missing values for median values
df_survey['score'] = df_survey['score'].fillna(df_survey['score'].median())
df_survey.head()

   user_id  item_id  tag_id  score
0        2   604666     151      5
1        2  1222101     151      5
2        2  1272463     151      5
3        2  1540236     151      5
4        2  2157806     151      1

In [63]:
df_books.to_csv('./book_dataset/transformed_dataset_copy/metadata_clean.csv', encoding='utf-8', index=False)
df_ratings.to_csv('./book_dataset/transformed_dataset_copy/ratings_clean.csv', encoding='utf-8', index=False)
df_reviews.to_csv('./book_dataset/transformed_dataset_copy/reviewss_clean.csv', encoding='utf-8', index=False)
df_survey.to_csv('./book_dataset/transformed_dataset_copy/survey_answers_clean.csv', encoding='utf-8', index=False)
df_tagCount.to_csv('./book_dataset/transformed_dataset_copy/tag_count_clean.csv', encoding='utf-8', index=False)
df_tags.to_csv('./book_dataset/transformed_dataset_copy/tags_clean.csv', encoding='utf-8', index=False)

**After the data has been processed, let's combine the all data frames on the "item id" feature to obtain the user ratings for all of the books as a whole.**

In [2]:
df_books = pd.read_csv('./book_dataset/transformed_dataset_copy/metadata_clean.csv')
df_ratings = pd.read_csv('./book_dataset/transformed_dataset_copy/ratings_clean.csv')
df_reviews = pd.read_csv('./book_dataset/transformed_dataset_copy/reviewss_clean.csv')
df_survey = pd.read_csv('./book_dataset/transformed_dataset_copy/survey_answers_clean.csv')
df_tagCount = pd.read_csv('./book_dataset/transformed_dataset_copy/tag_count_clean.csv')
df_tags = pd.read_csv('./book_dataset/transformed_dataset_copy/tags_clean.csv')

In [3]:
## joining the books vs user rating
df_exhortation = pd.merge(df_books, df_ratings, on='item_id', how='inner')

In [4]:
df_exhortation.shape, df_books.shape, df_ratings.shape

((5152656, 10), (9374, 8), (5152656, 3))

In [5]:
#df_exhortation = pd.merge(df_exhortation, df_reviews, on='item_id', how='inner')
#df_exhortation = pd.merge(df_exhortation, df_survey, on='item_id', how='inner')
#df_exhortation = pd.merge(df_exhortation, df_tagCount, on='item_id', how='inner')

In [6]:
df_exhortation.head()

,item_id,url,title,authors,lang,img,year,description,user_id,rating
0,16827462,https://www.goodreads.com/book/show/11870085-t...,the fault in our stars,John Green,eng,https://images.gr-assets.com/books/1360206420m...,2012,"There is an alternate cover edition .\n""I fel...",150222,5
1,16827462,https://www.goodreads.com/book/show/11870085-t...,the fault in our stars,John Green,eng,https://images.gr-assets.com/books/1360206420m...,2012,"There is an alternate cover edition .\n""I fel...",100165,5
2,16827462,https://www.goodreads.com/book/show/11870085-t...,the fault in our stars,John Green,eng,https://images.gr-assets.com/books/1360206420m...,2012,"There is an alternate cover edition .\n""I fel...",232359,4
3,16827462,https://www.goodreads.com/book/show/11870085-t...,the fault in our stars,John Green,eng,https://images.gr-assets.com/books/1360206420m...,2012,"There is an alternate cover edition .\n""I fel...",246427,5
4,16827462,https://www.goodreads.com/book/show/11870085-t...,the fault in our stars,John Green,eng,https://images.gr-assets.com/books/1360206420m...,2012,"There is an alternate cover edition .\n""I fel...",75210,4